In [1]:
print(123+456)
print(123*456)
print(123**456)

579
56088
99250068772098856700831462057469632637295940819886900519816298881382867104749399077921128661426144638055424236936271872492800352741649902118143819672601569998100120790496759517636465445895625741609866209900500198407153244604778968016963028050310261417615914468729918240685487878617645976939063464357986165711730976399478507649228686341466967167910126653342134942744851463899927487092486610977146112763567101672645953132196481439339873017088140414661271198500333255713096142335151414630651683065518784081203678487703002802082091236603519026256880624499681781387227574035484831271515683123742149095569260463609655977700938844580611931246495166208695540313698140011638027322566252689780838136351828795314272162111222231170901715612355701347552371530013693855379834865667060014643302459100429783653966913783002290784283455628283355470529932956051484477129333881159930212758687602795088579230431661696010232187390436601614145603241902386663442520160735566561

In [2]:
print(123/45)
print(123//45)
print(123%45)

2.7333333333333334
2
33

In [2]:
print(42/0)

ZeroDivisionError: division by zero

In [3]:
exp(1.0)

NameError: name 'exp' is not defined

In [8]:
# import le plus prudent
import math
print(math.exp(1.0))
# ou
# mais il existe un risque de confusion entre librairies
from math import exp
print(exp(1.0))

2.718281828459045
2.718281828459045

In [10]:
x=1
print(type(x))
x="toto"
print(type(x))
print(3*x)

<class 'int'>
<class 'str'>
totototototo

In [93]:
fnc = lambda x: x ** 4 + 10 * x **3 + 100 * x + 1789
print(fnc(42))

3858565

In [23]:
tbl=[1,2,4,8,16,32,64,128]
print(len(tbl))
print(tbl[0])
print(tbl[-1])
print(tbl[1:4])
print("z" in tbl)
print(2 in tbl)

8
1
128
[2, 4, 8]
False
True

In [37]:
tpl = (1, "abc", 1.5, 'a')
print(len(tpl))
print(tpl[1:-1])
print(type(tpl))
print(type(tpl[0]))
print(type(tpl[1]))

4
('abc', 1.5)
<class 'tuple'>
<class 'int'>
<class 'str'>
<class 'tuple'>

In [38]:
lst = [1, "abc", 1.5, 'a']
print(lst)
lst.pop(1)
print(lst)
lst[1] *= 2
print(lst)
lst.append("abc")
print(lst)
lst.reverse()
print(lst)

[1, 'abc', 1.5, 'a']
[1, 1.5, 'a']
[1, 3.0, 'a']
[1, 3.0, 'a', 'abc']
['abc', 'a', 3.0, 1]

In [35]:
dic = {
    "forename": "Alice",
    "age": 42,
    "height": 1.60
}
print(json.dumps(dic, indent=4))
print(len(dic))
print(dic["height"])
dic["weight"] = 53.5
dic["hobbies"] = ["painting", "breaking", "hiking"]
dic["hobbies"].pop(-1)
print(json.dumps(dic, indent=4))
print("breaking" in dic["hobbies"])

{
    "forename": "Alice",
    "age": 42,
    "height": 1.6
}
3
1.6
{
    "forename": "Alice",
    "age": 42,
    "height": 1.6,
    "weight": 53.5,
    "hobbies": [
        "painting",
        "breaking"
    ]
}
True

In [32]:
lst = [ x for x in range(100+1) if x%10 == 0 ]
print(json.dumps(lst, indent=4))
dic = {}
for x in range(10):
    dic[x] = x ** 2
print(json.dumps(dic, indent=4))
dic = {}
for x in range(10+1):
    dic[x] = x ** 2
print(json.dumps(dic, indent=4))

[
    0,
    10,
    20,
    30,
    40,
    50,
    60,
    70,
    80,
    90,
    100
]
{
    "0": 0,
    "1": 1,
    "2": 4,
    "3": 9,
    "4": 16,
    "5": 25,
    "6": 36,
    "7": 49,
    "8": 64,
    "9": 81
}
{
    "0": 0,
    "1": 1,
    "2": 4,
    "3": 9,
    "4": 16,
    "5": 25,
    "6": 36,
    "7": 49,
    "8": 64,
    "9": 81,
    "10": 100
}

In [97]:
fnc = lambda k,n: sum(x**k for x in range(n) )
print(fnc(2, 10))
print(fnc(22, 100))

285
386614659739941950597622922368810419475443850

In [106]:
import math
print(round(math.pi, 6))
print("Name:")
name = input()
print("Age:")
age = int(input())
print(f"Name: {name}; Age: {age}; Binary Age: {bin(age)}; Age + 30: {age + 30}")

Name:
fe
Age:
65
Name: fe; Age: 65; Binary Age: 0b1000001; Age + 30: 95
3.141593

In [131]:
with open("/home/infoetu/gregoire.launaybecue.etu/tp-data-science/tp_mm00_res/data_mm00_fruits.csv", encoding="utf-8") as f:
    idx = 0
    for line in f:
        idx += 1
        if (idx%2 == 0): continue
        print(line, end="")

etiquette_fruit,nom_fruit,poids,largeur,hauteur,score_couleur
2,mandarine,115.92,7.06,7.53,0.88
1,pomme,126.78,8.86,5.92,0.6
2,mandarine,110.56,5.98,5.55,0.84
1,pomme,138.56,7.58,6.84,0.48
1,pomme,131.2,7.84,5.96,0.6
2,mandarine,82.54,6.28,4.83,0.78
2,mandarine,98.14,7.2,6.42,0.63
1,pomme,113.73,8.8,6.65,0.43
1,pomme,135.35,8.4,5.65,0.56
1,pomme,115.37,7.59,3.77,0.51
2,mandarine,75.52,5.57,5.52,0.66
2,mandarine,109.36,6.49,7.4,0.72
2,mandarine,93.76,7.02,7.96,0.75
2,mandarine,80.64,7.38,5.24,0.91
1,pomme,145.94,8.73,7.09,0.49
1,pomme,99.09,9.7,5.18,0.52
2,mandarine,102.86,7.01,5.73,0.69
1,pomme,158.91,8.06,5.63,0.72
2,mandarine,111.23,6.06,6.45,0.89
1,pomme,118.94,8.76,6.19,0.6
2,mandarine,94.91,7.24,8.79,0.95
1,pomme,112.47,6.8,6.61,0.51
1,pomme,120.67,8.54,6.36,0.53
1,pomme,142.49,9.43,5.76,0.39
1,pomme,85.57,8.07,5.56,0.48
2,mandarine,102.12,6.92,7.4,0.93
1,pomme,123.27,8.38,6.23,0.58
2,mandarine,38.59,7.79,5.57,0.66
2,mandarine,82.9,7.17,4.18,0.83
1,pomme,125.18,8.64,5.07,0.4
2,mandarine,94.6,7.59,5.89,0.73
1,pomme,106.25,9.47,5.99,0.73
2,mandarine,94.73,8.27,6.47,0.78
1,pomme,127.63,7.32,5.84,0.64
2,mandarine,66.25,6.19,5.33,0.75
1,pomme,159.96,8.54,4.47,0.67
2,mandarine,107.22,7.89,5.35,0.8
2,mandarine,94.04,6.24,6.3,0.82
1,pomme,98.92,8.09,7.38,0.64
2,mandarine,64.6,6.94,6.46,0.8
1,pomme,131.29,8.62,6.67,0.49
2,mandarine,72.6,6.71,4.86,0.66
1,pomme,115.54,8.01,7.1,0.63
1,pomme,101.27,8.96,8.02,0.46
1,pomme,119.53,8.93,6.95,0.57
2,mandarine,89.33,6.03,8.21,0.6
2,mandarine,104.39,7.12,6.09,0.74
1,pomme,103.33,6.98,7.07,0.49
2,mandarine,86.11,5.89,3.3,0.85
2,mandarine,88.11,5.27,5.62,0.73

In [148]:
f = open("/home/infoetu/gregoire.launaybecue.etu/tp-data-science/tp_mm00_res/result_mm00_alphabet.csv", "w")
for i in range(26):
    f.write(f"\n{chr(ord('a') + i )}")
    
for i in range(26):
    f.write(f"\n{chr(ord('A') + i )}")
f.close()

with open("/home/infoetu/gregoire.launaybecue.etu/tp-data-science/tp_mm00_res/result_mm00_alphabet.csv", encoding="utf-8") as f:
    idx = 0
    for line in f:
        idx += 1
        print(line, end="")

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [17]:
def caesar_coder(s, n):
  return "".join([chr((ord(c) - ord('a' if c.islower() else 'A') + n) % 26 + ord('a' if c.islower() else 'A')) if c.isalpha() else c for c in s])

def caesar_decoder(s, n):
  return caesar_coder(s, -n)
  
print(caesar_coder("aBc", 3))
print(caesar_decoder("dEf", 3))

dEf
aBc

In [46]:
import json

def do_inventory(lst):
  inventory = {}
  for action, item, category, quantity in lst:
    if category not in inventory:
      inventory[category] = {}
    if action == "add":
      if item not in inventory[category]:
        inventory[category][item] = 0
      inventory[category][item] += quantity
    elif action == "remove" and item in inventory[category]:
      inventory[category][item] -= quantity
      inventory[category][item] = max(0, inventory[category][item])
  return inventory

def inventory_report(inventory):
  report = {}
  for category, items in inventory.items():
    report[category] = sum(items.values())
  return report

actions = [
  ("add", "apple", "fruits", 10),
  ("add", "orange", "fruits", 5),
  ("remove", "apple", "fruits", 2),
  ("add", "potatoes", "vegetables", 3),
  ("remove", "orange", "fruits", 7),
  ("remove", "cucumber", "vegetables", 5)
]
inventory = do_inventory(actions)
print(json.dumps(inventory, indent=4))
print(json.dumps(inventory_report(inventory), indent=4))

{
    "fruits": {
        "apple": 8,
        "orange": 0
    },
    "vegetables": {
        "potatoes": 3
    }
}
{
    "fruits": 8,
    "vegetables": 3
}

In [51]:
# open /home/infoetu/gregoire.launaybecue.etu/tp-data-science/tp_mm00_res/data_mm00_work-times.csv
# read data (employee,date,arrival_time,departure_time) calculate différence then write result in
#/home/infoetu/gregoire.launaybecue.etu/tp-data-science/tp_mm00_res/result_mm00_work-summary.csv
# employee,total_work_hours
# Alice,16.25
# Bob,16.25
import csv
from datetime import datetime

def work_summary(input_file, output_file):
  with open(input_file, encoding="utf-8") as f:
    reader = csv.reader(f)
    next(reader)
    data = {}
    for employee, date, arrival_time, departure_time in reader:
      if employee not in data:
        data[employee] = 0
      arrival = datetime.strptime(arrival_time, "%H:%M")
      departure = datetime.strptime(departure_time, "%H:%M")
      data[employee] += round((departure - arrival).seconds / 3600)
  with open(output_file, "w") as f:
    writer = csv.writer(f)
    writer.writerow(["employee", "total_work_hours"])
    for employee, total_work_hours in data.items():
      writer.writerow([employee, total_work_hours])

work_summary("/home/infoetu/gregoire.launaybecue.etu/tp-data-science/tp_mm00_res/data_mm00_work-times.csv", "/home/infoetu/gregoire.launaybecue.etu/tp-data-science/tp_mm00_res/result_mm00_work-summary.csv")